/Modelos_UML/Taller5_G 4/nbproject/private/
/Modelos_UML/sistemaVentasEjecutor/nbproject/private/
/Solucion_Codigo/SistemaVentasEjecutor/nbproject/private/
/Solucion_Codigo/SistemaVentasEjecutor/build/
/Solucion_Codigo/NotasEstudiantesEjecutor/target/
/Solucion_Codigo/EjecutorCalificaciones/nbproject/private/
/Solucion_Codigo/EmpresaEjecutar/nbproject/private/
/Solucion_Codigo/FiscaliaEjecutar/nbproject/private/
/Solucion_Codigo/EjecutarONUConflicto/nbproject/private/
/Solucion_Codigo/EjecutarONUConflictoApp/nbproject/private/
/Solucion_Codigo/FestivalGastronomico/nbproject/private/
/Solucion_Codigo/FestivalGastronomico/build/
